* {
    text-align: center;
}

.hidden {
    display: none;
}

body {
    margin: 10px;
    padding: 10px;
    border: 0;
    font-family: Helvetica Neue, sans-serif;
    background-image: linear-gradient(-98deg, #EA7851 0%, #EE8678 20%, #EE9F7A 70%);
}

h1 {
  color: white;
  margin: 0;
  padding: 10px;
  font-size: 64px;
}

p {
    border: 1px solid white;
    color:white;
    width: auto;
    height: auto;
    padding: 9px;
}

.story {
    height: 35px;
    padding: 20px;
}

input {
    padding: 7px 35px 7px 12px;
    border: 2px solid pink;
    color: indianred;
    text-align: inherit;
}

.submit:hover {
    background-color: pink;
}

button {
    color: indianred;
    padding: 0 8px;
    line-height: 27px;
    background: white;
}

.results {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.result-story {
    padding-left: 40px;
    margin: 0 auto;    
}

img {
    border: 2px solid white;
    background-color: white;
    border-radius: 2px;
    width: 70%;
    height: 70%; 
    padding: 3px;
}

.result-story > button {
    display: block;
    /*margin-left: auto;
    margin-right: auto;*/
    /* margin: top right bottom left;*/
    /* margin: top+bottom left+right;*/
     margin: 0 auto;
}

.donttouch {
    color:#EE9F7A;
}

@media screen and (max-width: 375px) {
    body {
        background-image: none;
        background-color: indianred;
    }

}